@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/main_content/main_content.css';
@import '../../components/footer/footer.css';
@import '../../components/content/content.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --primary-hover: #2342c0;
  --secondary: var(--purple);

  --base: 4px;
  --radius: calc(var(--base) * 4);
  --secondary-hover: #5028c6;
  --font-middle: 16px;
}

* {
  font-family: 'Roboto', sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
