.calendar {
  display: grid;
  row-gap: 16px;
  grid-template-columns: repeat(1, minmax(calc(var(--base) * 60.5), 1fr));
  padding: calc(var(--base) * 6) calc(var(--base) * 7.5);
  border: 1px solid var(--grey-3);
  border-radius: var(--radius);
}
.calendar__month-year {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-5);
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__day {
  font-size: 14px;
  color: var(--grey-6);
  padding: 8px 4px;
  text-align: center;
}

.calendar__numbers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar__number {
  padding: 8px;
  font-size: 16px;
  color: var(--grey-5);
  text-align: center;
}
.calendar__number:hover {
  background-color: var(--purple-2);
  cursor: pointer;
}

.calendar__number.calendar__number_chosen {
  background-color: var(--blue);
  color: var(--white);
}
.calendar__number.calendar__number_chosen-between {
  background-color: #eceffd;
}
