.footer {
  background-color: #fff;
  padding: calc(var(--base) * 17.75) 0 calc(var(--base) * 34) 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__title {
  text-align: center;
}

.footer__info {
  max-width: 640px;
  margin: auto;
  text-align: center;
  line-height: 24px;
}
